**/__pycache__
**/.DS_Store
**/.env
**/.git
**/.idea
**/.mypy_cache
**/.venv
**/.vscode
**/*.local
**/*.log
**/*.njsproj
**/*.ntvs*
**/*.sln
**/*.suo
**/*.sw?
**/dist
**/dist-ssr
**/docker-compose.override.yml
**/lerna-debug.log*
**/logs
**/node_modules
**/npm-debug.log*
**/pnpm-debug.log*
**/venv
**/yarn-debug.log*
**/yarn-error.log*
