.env

# overrides for developers
requirements.dev.txt
.vscode

# system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# node files/folders
node_modules
dist

# python files/folders
__pycache__
.dmypy.json
.mypy_cache
.venv
*.pyc
dmypy.json
