services:
  django:
    build:
      dockerfile: Dockerfile
      target: builder
    command: [
      "poetry", "run",
      "--directory", "/app/django",
      "/app/django/src/manage.py",
      "runserver", "0.0.0.0:8000"
    ]
    env_file:
      - .env
      - ./dev/.env.docker-compose
    environment:
      RDWATCH_POSTGRESQL_URI: "postgresql://rdwatch:secretkey@postgresql:5432/rdwatch"
      RDWATCH_REDIS_URI: "redis://:secretkey@redis-master:6379"
      RDWATCH_CELERY_BROKER_URL: amqp://rdwatch:secretkey@rabbitmq:5672/
    volumes:
      - ./django:/app/django
    ports:
      - 8000:8000
    depends_on:
      - postgresql
      - rabbitmq
      - redis-master
      - minio

  celery:
    build:
      dockerfile: Dockerfile
      target: builder
    command: [
      "poetry", "run",
      "--directory", "/app/django",
      "celery",
      "--app", "rdwatch.celery",
      "worker",
      "--loglevel", "INFO",
      "--without-heartbeat",
    ]
    env_file:
      - .env
      - ./dev/.env.docker-compose
    environment:
      RDWATCH_POSTGRESQL_URI: "postgresql://rdwatch:secretkey@postgresql:5432/rdwatch"
      RDWATCH_REDIS_URI: "redis://:secretkey@redis-master:6379"
      RDWATCH_CELERY_BROKER_URL: amqp://rdwatch:secretkey@rabbitmq:5672/
    volumes:
      - ./django:/app/django
    depends_on:
      - postgresql
      - rabbitmq
      - minio
      - redis-master
      - django
