services:
  # PostgreSQL 14
  postgresql:
    image: postgis/postgis:latest
    environment:
      POSTGRES_USER: rdwatch
      POSTGRES_DB: rdwatch
      POSTGRES_PASSWORD: ${RDWATCH_SECRET_KEY:?}
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  # Redis cluster
  redis-master:
    image: bitnami/redis-cluster:latest
    volumes:
      - redis-master-data:/bitnami/redis/data
    environment:
      REDIS_PASSWORD: ${RDWATCH_SECRET_KEY:?}
      REDISCLI_AUTH: ${RDWATCH_SECRET_KEY:?}
      REDIS_NODES: redis-master redis-replica-1 redis-replica-2
      REDIS_CLUSTER_REPLICAS: 0
      REDIS_CLUSTER_CREATOR: "yes"
    depends_on:
      - redis-replica-1
      - redis-replica-2
    ports:
      - 6379:6379

  redis-replica-1:
    image: bitnami/redis-cluster:latest
    volumes:
      - redis-replica-1-data:/bitnami/redis/data
    environment:
      REDIS_PASSWORD: ${RDWATCH_SECRET_KEY:?}
      REDIS_NODES: redis-master redis-replica-1 redis-replica-2

  redis-replica-2:
    image: bitnami/redis-cluster:latest
    volumes:
      - redis-replica-2-data:/bitnami/redis/data
    environment:
      REDIS_PASSWORD: ${RDWATCH_SECRET_KEY:?}
      REDIS_NODES: redis-master redis-replica-1 redis-replica-2

  minio:
    image: minio/minio:latest
    # When run with a TTY, minio prints credentials on startup
    tty: true
    command: ["server", "/data", "--console-address", ":${DOCKER_MINIO_CONSOLE_PORT-9001}", "--address", ":${DOCKER_MINIO_PORT-9000}"]
    volumes:
      - minio-data:/data
    environment:
      MINIO_ROOT_USER: rdwatch
      MINIO_ROOT_PASSWORD: ${RDWATCH_SECRET_KEY:?}
    ports:
      - ${DOCKER_MINIO_PORT-9000}:9000
      - ${DOCKER_MINIO_CONSOLE_PORT-9001}:9001

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:management
    environment:
      RABBITMQ_DEFAULT_USER: rdwatch
      RABBITMQ_DEFAULT_PASS: ${RDWATCH_SECRET_KEY:?}
    ports:
      - 5672:5672

volumes:
  postgresql-data:
  minio-data:
  redis-master-data:
  redis-replica-1-data:
  redis-replica-2-data:
