services:
  # PostgreSQL 14
  postgresql:
    image: postgis/postgis:latest
    environment:
      POSTGRES_USER: rdwatch
      POSTGRES_DB: rdwatch
      POSTGRES_PASSWORD: secretkey
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  # Redis
  redis:
    image: redis:latest
    volumes:
      - redis-data:/redis/data
    ports:
      - 6379:6379

  minio:
    image: minio/minio:latest
    # When run with a TTY, minio prints credentials on startup
    tty: true
    command: ["server", "/data", "--console-address", ":${DOCKER_MINIO_CONSOLE_PORT-9001}", "--address", ":${DOCKER_MINIO_PORT-9000}"]
    volumes:
      - minio-data:/data
    environment:
      MINIO_ROOT_USER: rdwatch
      MINIO_ROOT_PASSWORD: secretkey
    ports:
      - ${DOCKER_MINIO_PORT-9000}:9000
      - ${DOCKER_MINIO_CONSOLE_PORT-9001}:9001

  # Scoring database
  scoredb:
    image: postgis/postgis:latest
    environment:
      POSTGRES_USER: scoring
      POSTGRES_DB: scoring
      POSTGRES_PASSWORD: secretkey
    volumes:
      - postgresql-scoring-data:/var/lib/postgresql/data
    ports:
      - 5433:5432

  airflow:
    build:
      context: dev/
      dockerfile: airflow.Dockerfile
    volumes:
      - airflow-data:/opt/airflow
    command: ["airflow", "standalone"]
    ports:
      - 8002:8080
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8002/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

volumes:
  postgresql-scoring-data:
  postgresql-data:
  minio-data:
  redis-data:
  airflow-data:
